<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.mvs.mapper.CustomerLotteryMapper">

    <!--  保存  -->
    <insert id="saveCustomerLottery">
        insert into customer_lottery(user_id, lottery_id, points, is_win, is_designated, create_time)
        values (#{userId}, #{lotteryId}, #{points}, #{isWin}, #{isDesignated}, #{createTime})
    </insert>

    <!--  批量保存  -->
    <insert id="saveBatchCustomerLottery">
        insert into customer_lottery(user_id, lottery_id, points, is_win, is_designated, create_time)
        values
        <foreach collection="customerLotteryList" item="item" separator=",">
            ( #{item.userId}, #{item.lotteryId}, 1, 0, 0, #{item.createTime} )
        </foreach>
    </insert>

    <select id="count" resultType="java.lang.Integer">
        select count(1) from customer_lottery
        where lottery_id = #{lotteryId}
    </select>

    <!--  分页获取  -->
    <select id="getCustomerLotteryList" resultType="com.xy.mvs.model.CustomerLottery">
        select customer_lottery.*, user.recharge_points, user.number_winners
        from customer_lottery
        left join user on user.id = customer_lottery.user_id
        where customer_lottery.lottery_id = #{lotteryId}
        order by customer_lottery.points desc
        limit #{page},#{size}
    </select>

    <!--  根据抽奖Id获取所有积分  -->
    <select id="sumPoints" resultType="java.lang.Integer">
        select sum(points) from customer_lottery
        where lottery_id = #{lotteryId}
    </select>

    <!--  修改内定  -->
    <update id="modifyIsDesignated">
        update customer_lottery
        set is_designated = #{isDesignated}
        where id = #{id}
    </update>

</mapper>