<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.mvs.mapper.CustomerMapper">

    <!--  保存客户  -->
    <insert id="saveCustomer" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into customer(name, telephone, turnover, consumption_amount,
        number_winners, recharge_points, consumption_points, residual_integral, code, is_mail, is_lottery, is_auto, is_del)
        values (#{name}, #{telephone}, 0, 0,
        0, 0, 0, 0, #{code}, #{isMail}, #{isLottery}, #{isAuto}, #{isDel})
    </insert>

    <!--  批量保存客户  -->
    <insert id="saveBatchCustomer" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into customer(telephone, code, is_mail, is_lottery, is_auto, is_del)
        values
        <foreach collection="customerList" item="item" separator=",">
            ( #{item.telephone}, #{item.code}, #{item.isMail}, #{item.isLottery}, #{item.isAuto}, #{item.isDel} )
        </foreach>
    </insert>

    <!--  根据id获取  -->
    <select id="getById" resultType="com.xy.mvs.model.Customer">
        select * from customer
        where id = #{id}
    </select>

    <select id="countCustomer" resultType="java.lang.Integer">
        select count(1) from customer
        where is_del = 0
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="type != -1">
            and type = #{type}
        </if>
    </select>

    <!--  分页获取客户  -->
    <select id="getCustomerList" resultType="com.xy.mvs.model.Customer">
        select * from customer
        where is_del = 0
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="type == 0">
            and is_mail = 1
        </if>
        <if test="type == 1">
            and is_lottery = 1
        </if>
        order by id
        limit #{page},#{size}
    </select>

</mapper>