<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.mvs.mapper.MailOrderMapper">

    <resultMap id="OrderAndItemMap" type="com.xy.mvs.request.OrderAndItemInfoList">
        <id column="id" property="id"></id>
        <result column="customer_id" property="customerId"></result>
        <result column="address_id" property="addressId"></result>
        <result column="payment" property="payment"></result>
        <result column="total_price" property="totalPrice"></result>
        <result column="total_num" property="totalNum"></result>
        <result column="member_cut" property="memberCut"></result>
        <result column="status" property="status"></result>
        <result column="create_time" property="createTime"></result>
        <result column="payment_time" property="paymentTime"></result>
        <result column="consign_time" property="consignTime"></result>
        <result column="end_time" property="endTime"></result>
        <result column="name" property="name"></result>
        <result column="order_number" property="orderNumber"></result>
    </resultMap>

    <sql id="OrderAndItemSql">
        mail_order.id id, mail_order.customer_id customer_id, mail_order.address_id address_id, mail_order.payment payment,
        mail_order.total_price total_price,
        mail_order.total_num, mail_order.member_cut,
        mail_order.status status, mail_order.create_time create_time, mail_order.update_time update_time,
        mail_order.payment_time payment_time, mail_order.consign_time consign_time, mail_order.end_time end_time,
        customer.name, mail_order.order_number
    </sql>

    <!--  保存商城订单  -->
    <insert id="saveMailOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into mail_order(customer_id, address_id, order_number, payment, total_price, total_num,
        member_cut, status, create_time, payment_time, consign_time, end_time, is_del)
        values (#{customerId}, #{addressId}, #{orderNumber}, #{payment}, #{totalPrice}, #{totalNum},
        #{memberCut}, #{status}, #{createTime}, #{paymentTime}, #{consignTime}, #{endTime}, #{isDel})
    </insert>

    <!--  根据id获取  -->
    <select id="getById" resultType="com.xy.mvs.model.MailOrder">
        select * from mail_order
        where id = #{id}
    </select>

    <!--  付款  -->
    <update id="payment">
        update mail_order
        set payment_time = #{paymentTime},
        payment = #{payment}, status = #{status}
        where id = #{id}
    </update>

    <!--  发货  -->
    <update id="consign">
        update mail_order
        set status = 3, consign_time = #{consignTime}
        where id = #{id}
    </update>

    <!--  交易完成  -->
    <update id="end">
        update mail_order
        set status = 4, end_time = #{endTime}
        where id = #{id}
    </update>

    <!--  根据用户ID和状态获取订单数量 -->
    <select id="countByUserIdAndStatus" resultType="java.lang.Integer">
        select
        count(1)
        from mail_order
        where mail_order.customer_id = #{customerId}
        <if test="status != -1">
            and mail_order.status = #{status}
        </if>
        and mail_order.is_del = 0
    </select>

    <!--  根据用户ID和状态获取订单 -->
    <select id="getByUserIdAndStatus" resultMap="OrderAndItemMap">
        select
        <include refid="OrderAndItemSql"/>
        from mail_order
        left join customer on customer.id = mail_order.customer_id
        where mail_order.customer_id = #{customerId}
        <if test="status != -1">
            and mail_order.status = #{status}
        </if>
        and mail_order.is_del = 0
        order by mail_order.create_time desc
    </select>

    <!--  根据ID修改订单编号  -->
    <update id="modifyOrderNumber">
        update mail_order
        set order_number = #{orderNumber}
        where id = #{id}
    </update>

    <select id="countOrderByStatus" resultType="java.lang.Integer">
        select count(1)
        from mail_order
        where is_del = 0
        <if test="status != -1">
            and status = #{status}
        </if>
    </select>

    <!--  分页获取订单  -->
    <select id="getOrderByStatus" resultMap="OrderAndItemMap">
        select
        <include refid="OrderAndItemSql"/>
        from mail_order
        left join customer on customer.id = mail_order.customer_id
        where mail_order.is_del = 0
        <if test="status != -1">
            and mail_order.status = #{status}
        </if>
        order by mail_order.create_time desc
        limit #{page},#{size}
    </select>

    <!--  导出待发货订单  -->
    <select id="listOrderExcel" resultType="com.xy.mvs.request.OrderExcel">
        select
         mail_order.order_number, mail_order.payment, mail_order.total_price, mail_order.create_time, mail_order.payment_time,
         order_item.title productName, order_item.num productNum, order_item.price productPrice, order_item.total_price productTotalPrice,
         address.name, address.telephone, address.address
        from order_item
        LEFT JOIN mail_order ON order_item.order_id = mail_order.id
        LEFT JOIN address ON `order`.address_id = address.id
        where `order`.status = 1
    </select>

    <!--  自动完成订单  -->
    <update id="autoEndOrder">
        UPDATE
            mail_order
         set
            `status` = 4, end_time = #{endTime}
         where
            now() > DATE_ADD( consign_time, INTERVAL 7 DAY )
    </update>

</mapper>