<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.mvs.mapper.OrderItemMapper">

    <!--  保存订单详情  -->
    <insert id="saveOrderItem">
        insert into order_item(order_id, mail_product_id, product_type_id, product_type_name,
        num, title, price, total_price, photo, discount, create_time, is_del)
        values (#{orderId}, #{mailProductId}, #{productTypeId}, #{productTypeName},
        #{num}, #{title}, #{price}, #{totalPrice}, #{photo}, #{discount}, #{createTime}, #{isDel})
    </insert>

    <!--  根据订单ID获取订单详情  -->
    <select id="getByOrderId" resultType="com.xy.mvs.model.OrderItem">
        select
        *
        from order_item
        where order_id = #{orderId}
        and is_del = 0
        order by price
    </select>

    <!--  根据订单ID取消订单详情  -->
    <update id="cancelOrderItem">
        update order_item
        set is_del = 2
        where order_id = #{orderId}
    </update>

</mapper>