<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.mvs.mapper.ProductTypeMapper">

    <!--  保存产品类型  -->
    <insert id="saveProductType">
        insert into product_type(id, name, type, is_del)
        values (#{id}, #{name}, #{type}, #{isDel})
    </insert>

</mapper>