<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.mvs.mapper.UserMapper">

    <!--  保存用户  -->
    <insert id="saveUser">
        insert into user(name, password, role, is_del)
        values (#{name}, #{password}, #{role}, #{isDel})
    </insert>

    <!--  根据用户名和密码获取用户  -->
    <select id="selectByNameAndPwd" resultType="com.xy.mvs.model.User">
        select * from user where name = #{name}
        <if test="password != null">
            and password = #{password}
        </if>
        and is_del = 0
    </select>

    <!--  根据ID获取用户  -->
    <select id="getById" resultType="com.xy.mvs.model.User">
        select * from `user` where id = #{id}
    </select>

    <!--  编辑用户  -->
    <update id="modifyUser">
        update user
        set name = #{name}, password = #{password},
        role = #{role}
        where id = #{id}
    </update>

    <!--  删除用户  -->
    <update id="deleteUser">
        update user
        set is_del = 1
        where id = #{id}
    </update>

</mapper>