<!DOCTYPE html>
<!--[if IE 8]>
<html lang="zh-CN" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="zh-CN" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>抽奖产品类型管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <link href="../static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/uniform/css/uniform.default.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet"/>
    <link href="../static/global/plugins/select2/select2.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet"/>
    <link href="../static/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-fileinput/css/fileinput.css" rel="stylesheet"/>
    <link href="../static/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet"/>
    <link href="../static/global/css/plugins.css" rel="stylesheet"/>
    <link href="../static/global/plugins/jquery-minicolors/jquery.minicolors.css" rel="stylesheet"/>
    <link href="../static/global/css/components-rounded.css" rel="stylesheet"/>
    <link href="../static/admin/css/layout.css" rel="stylesheet"/>
    <link href="../static/layui/css/layui.css" rel="stylesheet"/>
    <link href="../static/admin/css/custom.css" rel="stylesheet"/>
    <link href="../static/admin/css/themes/default.css" rel="stylesheet" id="style_color">
    <link rel="icon" href="../static/img/icon_16.ico" mce_href="../static/img/icon_16.ico">
    <link rel="shortcut icon" href="../static/img/icon_16.ico" mce_href="../static/img/icon_16.ico">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-quick-sidebar-over-content ">
<input id="userID" name="userID" type="hidden" value="30da7b29-700b-4310-adc5-1ee224a5b4a6" />
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div th:include="header"></div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div th:include="sidebar"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE CONTENT-->
            <div id="productTypeList" v-cloak class="row">


                <div class="col-md-12">

                    <div class="side-menu-sidebar ">
                        <div class="scroller">
                            <div class="portlet portlet-nav">
                                <div class="portlet-title">
                                    <div class="caption" data-toggle="collapse">
                                        <span class="uppercase">产品类型管理</span>
                                        <a href="javascript:;" class="caption-helper visible-sm-inline-block visible-xs-inline-block">单击展示列表</a>
                                    </div>
                                </div>
                                <div class="portlet-body side-menu-project-list-content" id="lst1">
                                    <div class="side-menu-project-list" data-always-visible="1" data-rail-visible1="1">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li class="">
                                                <a onclick="javascript:location.href='/mailProductType'">商城产品类型管理</a>
                                            </li>
                                            <li class="active">
                                                <a onclick="javascript:location.href='/lotteryProductType'">抽奖产品类型管理</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="esh-filter-sidebar">
                        <div class="header"><b class="title">库存筛选</b> <a class="close" href="javascript:void(0)"></a></div>
                        <div class="sidebar-wrap">
                            <section class="content">
                                <div class="tip clearfix"><i class="fa fa-filter" style="color:#999"></i> 筛选条件<a class="pull-right hidden clear-filter" href="javascript:void(0)" onclick="clearFilter()">清空筛选</a></div>
                                <div class="form-group">
                                    <label>状态</label>
                                    <ul class="filter-option clearfix">
                                        <li>
                                            <label>
                                                <input name="state" type="checkbox" value="1" /><input name="state" type="hidden" value="false" /> 库存不足
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input name="state" type="checkbox" value="2" /><input name="state" type="hidden" value="false" /> 正常
                                            </label>
                                        </li>
                                    </ul>
                                    <input type="hidden" id="state_hide" value="" />
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="side-menu-content">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption title">
                                    抽奖产品类型管理
                                </div>
                                <div class="input-group pull-right">
                                    <div class="input-group input-medium">
                                        <input class="form-control" id="searchName" maxlength="50" name="accessoryCode" placeholder="产品类型名称" type="text" value="" />
                                        <span class="input-group-btn">
                                            <button onclick="listProductType()" class="btn green" id="btnSearch" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="col-md-6 col-xs-6 clear-padding-left">
                                        <a class="btn green" onclick="create()">新建</a>
                                        <a class="filter-a clear-filter hidden" href="javascript:void(0)" onclick="clearFilter()"><i class="icon fa fa-trash"></i>清空筛选</a>
                                    </div>
                                    <div class="col-md-6 col-xs-6 clear-padding-right">
                                        <div class="pull-right">
                                            <div class="btn-group">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dataTable" class="dataTables_wrapper no-footer">
                                    <div class="table-scrollable">
                                        <table class="table table-striped dataTable table-bordered table-hover table-pointer" id="tableList">
                                            <thead>
                                            <tr>
                                                <th style="width: 33%;">
                                                    产品类型编码
                                                </th>
                                                <th style="min-width: 33%;">
                                                    名称
                                                </th>
                                                <th style="min-width: 33%;">
                                                    操作
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(item,index) in productTypeList" class="odd gradeX">
                                                <td>
                                                    {{item.id}}
                                                </td>
                                                <td>
                                                    {{item.name}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-default btn-xs black" @click="selectProductType(item.id)">
                                                        <i class="fa fa-search"></i>
                                                        查看
                                                    </button>
                                                    <button class="btn btn-default btn-xs black" @click="editProductType(item.id)">
                                                        <i class="fa fa-search"></i>
                                                        编辑
                                                    </button>
                                                    <button class="btn btn-default btn-xs black" @click="deleteProductType(item.id)">
                                                        <i class="fa fa-search"></i>
                                                        删除
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div id="haveData" style="display: none" class="row">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="dataTables_info" role="status" aria-live="polite">
                                                <label style="vertical-align: middle;">共<span
                                                        id="count">3</span>条</label>
                                                <div class="btn-group pagesize dropup">
                                                    <a href="javascript:void(0)" class="link name-wrap"
                                                       data-toggle="dropdown" aria-expanded="false">
                                                        <span id="size">10条/页&nbsp;</span>
                                                        <i class="fa fa-angle-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu esh-pub-menu">
                                                        <li class="clearfix active">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="10">10条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="20">20条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="30">30条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="40">40条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="50">50条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <div class="dataTables_paginate paging_bootstrap_full_number">
                                                <ul id="pagination" class="pagination">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="nullData" style="display: none" class="row">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="dataTables_info" role="status" aria-live="polite">
                                                <label>没有查询到所需数据</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <div class="dataTables_paginate paging_bootstrap_full_number"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--查看详情模态框-->
                    <div class="modal fade bs-modal-lg" id="seeDailog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">查看</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                产品类型编码<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input class="form-control" :value="productType.id" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                名称<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input class="form-control" :value="productType.name" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--新建/编辑详情模态框-->
                    <div class="modal fade bs-modal-lg" id="createDailog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">新建</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                名称<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input id="name" class="form-control" placeholder="请输入名称">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" id="editId">
                                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                                    <button type="button" class="btn green" onclick="saveProductType()">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--删除模态框-->
                    <div class="modal fade" id="deleteDailog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true"></button>
                                    <h4 class="modal-title">提示</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="bootbox-body">您确认删除该产品类型吗?</div>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" id="deleteId">
                                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                                    <button type="button" class="btn green" onclick="deleteProductType()">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTEN -->
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <div class="clearfix">
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="../static/global/plugins/respond.min.js"></script>
    <script src="../static/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <script type="text/javascript" src="../static/js/vue-resource.js"></script>
    <script src="../static/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../static/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../static/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
            type="text/javascript"></script>
    <script src="../static/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../static/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js"></script>
    <script src="../static/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="../static/admin/scripts/layout.js" type="text/javascript"></script>
    <script src="../static/admin/scripts/theme.js" type="text/javascript"></script>
    <script src="../static/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/admin/scripts/custom.js"></script>
    <script>
        jQuery(document).ready(function () {
            $.ajaxSetup({cache: false});//设置缓存策略
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout

            if ($(".side-menu-sidebar").length > 0) {
                initSideMenu();
            }
            if ($(".esh-filter-sidebar").length > 0) {
                initFlterMenu();
            }
            if ($(".scroll-fixed").length > 0) {
                $(".scroll-fixed").each(function () {
                    var i = 0;
                    var mouseWheel = document.getElementsByClassName('scroll-fixed')[i];
                    if (mouseWheel.addEventListener) {
                        mouseWheel.addEventListener('DOMMouseScroll', function (event) {
                            this.scrollTop = this.scrollTop - (event.wheelDelta ? event.wheelDelta : -event.detail * 10);
                            return false;
                        }, false)
                    }
                    document.getElementsByClassName('scroll-fixed')[i].onmousewheel = function (event) {
                        if (!event) event = window.event;
                        this.scrollTop = this.scrollTop - (event.wheelDelta ? event.wheelDelta : -event.detail * 10);
                        return false;
                    }
                    i++;
                })
            }
        });
    </script>
    <!-- BEGIN PAGE SELF SCRIPTS -->
    <script type="text/javascript">
        let page = 1, size = 10, total = 0;

        $(function () {
            listProductType();
            initEvent();//事件绑定
        });

        //事件绑定
        function initEvent() {
            //显示或隐藏筛选功能
            $('body').on('click', '#btnFilter.collapse, #btnFilter.expand', function (e) {
                if ($(this).hasClass("collapse")) {
                    $(this).removeClass("collapse").addClass("expand").text('取消筛选');
                    $('.esh-filter-sidebar').addClass("open");
                } else {
                    $(this).removeClass("expand").addClass("collapse").text('筛选');
                    $('.esh-filter-sidebar').removeClass("open");
                }
            });

        }

        //清空筛选
        function clearFilter() {
            $("#type_hide,#select-network").val("");
            $("ul.filter-option input[type=checkbox]").attr("checked", false);
            $("ul.filter-option input[type=checkbox]").parent().removeClass("checked");
            changeQueryCondition();

        }

        let vue = new Vue({
            el: "#productTypeList",
            data: {
                productTypeList: [],
                productType:{
                    id:"",
                    name:"",
                    type:""
                }
            },
            methods: {
                //删除产品类型
                deleteProductType: function (id) {
                    $("#deleteDailog").modal({backdrop: 'static', keyboard: false});  //手动开启
                    $("#deleteId").val(id);
                },
                //编辑产品类型
                editProductType: function (id) {
                    $("#createDailog").modal({backdrop: 'static', keyboard: false});  //手动开启
                    $("#editId").val(id);
                    $.get("/productType/getById", {id: id}, function (result) {
                        if (result.code == 200) {
                            let productType = result.data;
                            $("#name").val(productType.name);
                        }
                    });
                },
                //查看产品类型
                selectProductType: function (id) {
                    $("#seeDailog").modal({backdrop: 'static', keyboard: false});  //手动开启
                    $.get("/productType/getById", {id: id}, function (result) {
                        if (result.code == 200) {
                            vue.productType = result.data;
                        }
                    });
                }
            }
        });

        //保存产品类型
        function saveProductType(){
            let id = $("#editId").val();
            let name = $("#name").val();
            if(id == ''){
                //新增
                $.post("/productType/saveProductType",{name: name, type: 1},function(result){
                    if(result.code == 200){
                        growlAlert.success("保存成功");
                        listProductType();
                        $("#createDailog").modal("hide");
                    }else{
                        growlAlert.danger(result.msg);
                    }
                });
            }else{
                //编辑
                $.post("/productType/modifyProductType",{id: id, name: name},function(result){
                    if(result.code == 200){
                        growlAlert.success("保存成功");
                        listProductType();
                        $("#createDailog").modal("hide");
                    }else{
                        growlAlert.danger(result.msg);
                    }
                });
            }
        }

        //分页查询产品类型
        function listProductType() {
            let name = $("#searchName").val();
            $.get("/productType/getProductTypeList", {
                name: name,
                type: 1,
                page: page,
                size: size
            }, function (result) {
                if (result.code == 200) {
                    vue.productTypeList = [];
                    vue.productTypeList = result.data.productTypeList;
                    total = result.data.total;
                    if(total != 0){
                        showYema();
                        $("#haveData").show();
                        $("#nullData").hide();
                    }else{
                        vue.productTypeList = [];
                        $("#haveData").hide();
                        $("#nullData").show();
                    }
                } else {
                    growlAlert.danger(result.message);
                    showYema();
                }
            });
        }

        //删除单条记录
        function deleteProductType() {
            let id = $("#deleteId").val();
            $.post("/productType/deleteProductType", {id: id}, function (result) {
                if (result.code == 200) {
                    growlAlert.success("删除成功")
                    $("#deleteDailog").modal("hide");
                    listProductType();
                } else {
                    growlAlert.danger("删除失败")
                }
            });
        }

        //查看详情
        function see() {
            $("#seeDailog").modal();
        }

        //新建
        function create() {
            $("#editId").val("");
            $("#name").val("");
            $("#password").val("");
            $("#role").val(0);
            $("#createDailog").modal({backdrop: 'static', keyboard: false});  //手动开启
        }

        //生成分页按钮及绑定事件
        function showYema() {
            var str = '<li class="prev"><a href="#"><i class="ace-icon fa fa-angle-left"></i></a></li>';

            if (page == 1) {
                str += '<li class="active"><a class="yeshu"> 1 </a></li>';
            } else {
                str += '<li><a class="yeshu"> 1 </a></li>';
            }
            if (Math.ceil(total / size) > 1) {
                if (page > 4)
                    str += '<li class="paginItem"><a >...</a></li>';
                for (var i = 2; i < Math.ceil(total / size); i++) {
                    if (i > page - 3 && i < page + 3) {
                        if (page == i) {
                            str += '<li class="paginItem active"><a class="yeshu"> '
                                + i + ' </a></li>';
                        } else {
                            str += '<li class="paginItem"><a class="yeshu"> ' + i + ' </a></li>';
                        }
                    }
                }
                if (page < Math.ceil(total / size) - 3)
                    str += '<li class="paginItem"><a >...</a></li>';

                if (page == Math.ceil(total / size)) {
                    str += '<li class="paginItem active"><a class="yeshu"> '
                        + Math.ceil(total / size) + ' </a></li>';
                } else {
                    str += '<li class="paginItem"><a class="yeshu"> '
                        + Math.ceil(total / size) + ' </a></li>';
                }
            }
            str += '<li class="next"><a href="#"><i class="ace-icon fa fa-angle-right"></i></a></li>';
            $("#pagination").html(str);
            $(".prev").click(
                function () {
                    if (page > 1)
                        page--;
                    listProductType();
                });
            $(".next").click(
                function () {
                    if (page < Math.ceil(total / size))
                        page++;
                    listProductType();
                });
            $(".yeshu").click(
                function () {
                    if (!isNaN($(this).html().trim())) {
                        page = parseInt($(this).html());
                        listProductType();
                    }
                });
            $("#count").html(total);
        }

        //改变每页记录数
        function changePageSize(e) {
            $(e).parent().addClass("active").siblings().removeClass("active");
            var currItem = $(e).children();
            size = $(currItem).attr("data-val");
            var pageSizeTxt = $(currItem).text();
            $("#size").html(pageSizeTxt);
            page = 1;
            listProductType();
        }

    </script>

    <!-- END PAGE SELF SCRIPTS -->
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
