<!DOCTYPE html>
<!--[if IE 8]>
<html lang="zh-CN" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="zh-CN" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>所有抽奖</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <link href="../static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/uniform/css/uniform.default.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet"/>
    <link href="../static/global/plugins/select2/select2.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet"/>
    <link href="../static/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-fileinput/css/fileinput.css" rel="stylesheet"/>
    <link href="../static/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet"/>
    <link href="../static/global/css/plugins.css" rel="stylesheet"/>
    <link href="../static/global/plugins/jquery-minicolors/jquery.minicolors.css" rel="stylesheet"/>
    <link href="../static/global/css/components-rounded.css" rel="stylesheet"/>
    <link href="../static/admin/css/layout.css" rel="stylesheet"/>
    <link href="../static/layui/css/layui.css" rel="stylesheet"/>
    <link href="../static/admin/css/custom.css" rel="stylesheet"/>
    <link href="../static/admin/css/themes/default.css" rel="stylesheet" id="style_color">
    <link rel="icon" href="../static/img/icon_16.ico" mce_href="../static/img/icon_16.ico">
    <link rel="shortcut icon" href="../static/img/icon_16.ico" mce_href="../static/img/icon_16.ico">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-quick-sidebar-over-content ">
<input id="userID" name="userID" type="hidden" value="30da7b29-700b-4310-adc5-1ee224a5b4a6" />
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div th:include="header"></div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div th:include="sidebar"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE CONTENT-->
            <div id="lotteryList" v-cloak class="row">

                <div class="col-md-12">
                    <div class="side-menu-sidebar ">
                        <div class="scroller">
                            <div class="portlet portlet-nav">
                                <div class="portlet-title">
                                    <div class="caption" data-toggle="collapse" data-target=".side-menu-project-list-content">
                                        <span class="uppercase">抽奖设置</span>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body side-menu-project-list-content" id="lst1">
                                <div class="side-menu-project-list" data-always-visible="1" data-rail-visible1="1" id="workView">
                                    <ul class="nav nav-pills nav-stacked esh-nav-pills">
                                        <li class=" active">
                                            <a onclick="javascript:location.href='/lotterySettings'"><span>所有抽奖</span></a>
                                        </li>
                                        <li class="">
                                            <a onclick="javascript:location.href='/noprize'"><span>未开奖</span></a>
                                        </li>
                                        <li class="">
                                            <a onclick="javascript:location.href='/isongoing'"><span>进行中</span></a>
                                        </li>
                                        <li class="">
                                            <a onclick="javascript:location.href='/finished'"><span>已结束</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="esh-filter-sidebar">
                        <div class="header"><b class="title">抽奖筛选</b> <a class="close" href="javascript:void(0)"></a></div>
                        <div class="scroller">
                            <section class="content">
                                <div class="tip clearfix">
                                    <i class="fa fa-filter" style="color:#999"></i>
                                    筛选条件
                                    <a class="pull-right hidden clear-filter" href="javascript:void(0)" onclick="clearFilter()">
                                        清空筛选
                                    </a>
                                </div>
                                <div class="form-group">
                                    <label>抽奖状态</label>
                                    <select id="status" class="form-control">
                                        <option value="0">全部</option>
                                        <option value="1">未开奖</option>
                                        <option value="2">进行中</option>
                                        <option value="3">已结束</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>创建时间</label>
                                    <div class="input-group input-daterange">
                                        <input class="form-control date" id="startDate" placeholder="开始日期" type="text"
                                               value=""/>
                                        <span class="input-group-addon">
                                            至
                                        </span>
                                        <input class="form-control date" id="endDate" placeholder="结束日期" type="text"
                                               value=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn green" onclick="listLottery()">确定</button>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="side-menu-content">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption title">
                                    所有抽奖
                                </div>
                                <div class="input-group pull-right">
                                    <div class="input-group input-medium " style= "width: 280px !important">
                                        <input class="form-control" id="name" maxlength="50" placeholder="输入产品名称" type="text" value="" />
                                        <span class="input-group-btn">
                                            <button class="btn green" id="btnSearch" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="col-md-8 col-xs-8  clear-padding-left">
                                        <button class="btn green collapse" id="btnFilter">筛选</button>
                                        <a class="filter-a clear-filter hidden" href="javascript:void(0)" onclick="clearFilter()"><i class="icon fa fa-trash"></i>清空筛选</a>
                                    </div>
                                    <div class="col-md-4 col-xs-4 clear-padding-right">
                                        <div class="pull-right">

                                        </div>
                                    </div>
                                </div>

                                <div id="dataTable" class="dataTables_wrapper no-footer">
                                    <div class="table-scrollable">
                                        <table class="table table-striped dataTable table-bordered table-hover table-pointer" id="tableList">
                                            <thead>
                                            <tr>
                                                <th style="width: 14%;">
                                                    订单编号
                                                </th>
                                                <th style="width: 14%;">
                                                    产品编号
                                                </th>
                                                <th style="width: 14%;">
                                                    产品名称
                                                </th>
                                                <th style="width: 6%;">
                                                    参与人数
                                                </th>
                                                <th style="width: 6%;">
                                                    进度
                                                </th>
                                                <th style="width: 8%;">
                                                    抽奖状态
                                                </th>
                                                <th style="width: 14%;">
                                                    创建时间
                                                </th>
                                                <th style="width: 14%;">
                                                    操作
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(item,index) in lotteryList" class="odd gradeX">
                                                <td>
                                                    {{item.id}}
                                                </td>
                                                <td>
                                                    {{item.lotteryProductId}}
                                                </td>
                                                <td>
                                                    {{item.productName}}
                                                </td>
                                                <td>
                                                    {{item.peopleNum}}
                                                </td>
                                                <td>
                                                    {{item.progress | numFilter}}%
                                                </td>
                                                <td>
                                                    <span :class="statusClass(item.status)">{{item.status | statusStrFilter}}</span>
                                                </td>
                                                <td>
                                                    {{item.createTime}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-default btn-xs black" @click="getCustomerLotteryList(item.id)">
                                                        <i class="fa fa-search"></i>
                                                        查看
                                                    </button>
                                                    <button v-if="item.status != 3" class="btn btn-default btn-xs black" @click="modificationProgress(item.id)">
                                                        <i class="fa fa-search"></i>
                                                        修改进度
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div id="haveData" style="display: none" class="row">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="dataTables_info" role="status" aria-live="polite">
                                                <label style="vertical-align: middle;">共<span
                                                        id="count">3</span>条</label>
                                                <div class="btn-group pagesize dropup">
                                                    <a href="javascript:void(0)" class="link name-wrap"
                                                       data-toggle="dropdown" aria-expanded="false">
                                                        <span id="size">10条/页&nbsp;</span>
                                                        <i class="fa fa-angle-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu esh-pub-menu">
                                                        <li class="clearfix active">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="10">10条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="20">20条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="30">30条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="40">40条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="50">50条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <div class="dataTables_paginate paging_bootstrap_full_number">
                                                <ul id="pagination" class="pagination">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="nullData" style="display: none" class="row">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="dataTables_info" role="status" aria-live="polite">
                                                <label>没有查询到所需数据</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <div class="dataTables_paginate paging_bootstrap_full_number"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                    </div>

                    <!--查看详情模态框-->
                    <div class="modal fade bs-modal-lg" id="seeDailog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">查看详情</h4>
                                </div>
                                <div class="modal-body padding-bottom-10 clearfix" style="min-height:420px;width: 100%">

                                    <div class="table-scrollable">
                                        <table class="table table-striped dataTable table-bordered table-hover table-pointer">
                                            <thead>
                                            <tr>
                                                <th style="width: 14%;">
                                                    客户手机号
                                                </th>
                                                <th style="width: 14%;">
                                                    总积分
                                                </th>
                                                <th style="width: 14%;">
                                                    该抽奖投入积分
                                                </th>
                                                <th style="width: 14%;">
                                                    中奖次数
                                                </th>
                                                <th style="width: 14%;">
                                                    是否被内定
                                                </th>
                                                <th style="width: 14%;">
                                                    操作
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(item,index) in customerLotteryList" class="odd gradeX">
                                                <td>
                                                    {{item.userTelephone}}
                                                </td>
                                                <td>
                                                    {{item.rechargePoints}}
                                                </td>
                                                <td>
                                                    {{item.points}}
                                                </td>
                                                <td>
                                                    {{item.numberWinners}}
                                                </td>
                                                <td>
                                                    {{item.isDesignated}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-default btn-xs black" @click="isDesignated(item.id)">
                                                        <i class="fa fa-search"></i>
                                                        内定
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="haveData2" style="display: none" class="row">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="dataTables_info" role="status" aria-live="polite">
                                                <label style="vertical-align: middle;">共<span
                                                        id="count2"></span>条</label>
                                                <div class="btn-group pagesize dropup">
                                                    <a href="javascript:void(0)" class="link name-wrap"
                                                       data-toggle="dropdown" aria-expanded="false">
                                                        <span id="size2">10条/页&nbsp;</span>
                                                        <i class="fa fa-angle-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu esh-pub-menu">
                                                        <li class="clearfix active">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize2(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="10">10条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize2(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="20">20条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize2(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="30">30条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize2(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="40">40条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)"
                                                               onclick="changePageSize2(this)">
                                                                <span class="esh-txtellipsis"
                                                                      data-val="50">50条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <div class="dataTables_paginate paging_bootstrap_full_number">
                                                <ul id="pagination2" class="pagination">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="nullData2" style="display: none" class="row">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="dataTables_info" role="status" aria-live="polite">
                                                <label>没有查询到所需数据</label>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <div class="dataTables_paginate paging_bootstrap_full_number"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--修改进度模态框-->
                    <div class="modal fade" id="modificationProgressDailog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">修改进度</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                添加人数<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input id="num" class="form-control"
                                                       placeholder="请输入添加人数">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input id="modificationProgressId" type="hidden">
                                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                                    <button type="button" class="btn green" onclick="modificationProgress()">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--内定模态框-->
                    <div class="modal fade" id="internalizationDailog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true"></button>
                                    <h4 class="modal-title">提示</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="bootbox-body">您确认内定该用户吗?</div>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" id="internalizationId">
                                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                                    <button type="button" class="btn green" onclick="isDesignated()">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END PAGE CONTEN -->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<div class="clearfix">
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../static/global/plugins/respond.min.js"></script>
<script src="../static/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="../static/js/vue.js"></script>
<script type="text/javascript" src="../static/js/vue-resource.js"></script>
<script src="../static/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="../static/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js"></script>
<script src="../static/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../static/admin/scripts/layout.js" type="text/javascript"></script>
<script src="../static/admin/scripts/theme.js" type="text/javascript"></script>
<script src="../static/layui/layui.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/admin/scripts/custom.js"></script>
<script type="text/javascript" src="../static/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../static/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript" src="../static/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="../static/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    jQuery(document).ready(function () {
        $.ajaxSetup({cache: false});//设置缓存策略
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout

        if ($(".side-menu-sidebar").length > 0) {
            initSideMenu();
        }
        if ($(".esh-filter-sidebar").length > 0) {
            initFlterMenu();
        }
        if ($(".scroll-fixed").length > 0) {
            $(".scroll-fixed").each(function () {
                var i = 0;
                var mouseWheel = document.getElementsByClassName('scroll-fixed')[i];
                if (mouseWheel.addEventListener) {
                    mouseWheel.addEventListener('DOMMouseScroll', function (event) {
                        this.scrollTop = this.scrollTop - (event.wheelDelta ? event.wheelDelta : -event.detail * 10);
                        return false;
                    }, false)
                }
                document.getElementsByClassName('scroll-fixed')[i].onmousewheel = function (event) {
                    if (!event) event = window.event;
                    this.scrollTop = this.scrollTop - (event.wheelDelta ? event.wheelDelta : -event.detail * 10);
                    return false;
                }
                i++;
            })
        }
    });
</script>
<!-- BEGIN PAGE SELF SCRIPTS -->
<script type="text/javascript">
    let page = 1, size = 10, total = 0;
    let page2 = 1, size2 = 10, total2 = 0;

    $(function () {
        initData();//设置时间控件
        initDataPicker();//设置时间控件
        listLottery();
        initEvent();//事件绑定
    });

    //事件绑定
    function initEvent() {
        //显示或隐藏筛选功能
        $('body').on('click', '#btnFilter.collapse, #btnFilter.expand', function (e) {
            if ($(this).hasClass("collapse")) {
                $(this).removeClass("collapse").addClass("expand").text('取消筛选');
                $('.esh-filter-sidebar').addClass("open");
            } else {
                $(this).removeClass("expand").addClass("collapse").text('筛选');
                $('.esh-filter-sidebar').removeClass("open");
            }
        });

    }

    //清空筛选
    function clearFilter() {
        $("#type_hide,#select-network").val("");
        $("ul.filter-option input[type=checkbox]").attr("checked", false);
        $("ul.filter-option input[type=checkbox]").parent().removeClass("checked");
        changeQueryCondition();
    }

    let vue = new Vue({
        el: "#lotteryList",
        data: {
            lotteryList: [],
            customerLotteryList: [],
            lotteryId: ""
        },
        filters: {
            statusStrFilter: function (value) {
                let str = "";
                switch (value) {
                    case 1:
                        str = "未开奖";
                        break;
                    case 2:
                        str = "进行中";
                        break;
                    case 3:
                        str = "已结束";
                        break;
                }
                return str;
            },
            numFilter: function (value) {
                // 截取当前数据到小数点后三位
                let tempVal = parseFloat(value).toFixed(3);
                let realVal = tempVal.substring(0, tempVal.length - 1);
                return realVal;
            }
        },
        methods: {
            //内定
            isDesignated: function (id) {
                $("#internalizationDailog").modal({backdrop: 'static', keyboard: false});  //手动开启
                $("#internalizationId").val(id);
            },
            //修改进度
            modificationProgress: function (id) {
                $("#num").val("");
                $("#modificationProgressDailog").modal({backdrop: 'static', keyboard: false});  //手动开启
                $("#modificationProgressId").val(id);
            },
            //根据抽奖Id分页获取所有积分
            getCustomerLotteryList: function (id) {
                vue.lotteryId = id;
                getCustomerLotteryList();
                $("#seeDailog").modal({backdrop: 'static', keyboard: false});  //手动开启
            },
            statusClass: function (status) {
                if(status == 1){
                    return "label label-purple";
                }else if(status == 2){
                    return "label label-newly";
                }else if(status == 3){
                    return "label label-success";
                }
            }
        }
    });

    //分页查询抽奖
    function listLottery() {
        let name = $("#name").val();
        let status = $("#status").val();
        let startDate = $("#startDate").val();
        let endDate = $("#endDate").val();
        $.get("/lottery/getLotteryList", {
            status: status,
            productName: name,
            startTime: startDate,
            endTime: endDate,
            page: page,
            size: size
        }, function (result) {
            if (result.code == 200) {
                vue.lotteryList = [];
                vue.lotteryList = result.data.lotteryList;
                total = result.data.total;
                if(total != 0){
                    showYema();
                    $("#haveData").show();
                    $("#nullData").hide();
                }else{
                    vue.lotteryList = [];
                    $("#haveData").hide();
                    $("#nullData").show();
                }
            } else {
                growlAlert.danger(result.message);
                showYema();
            }
        });
    }

    //根据抽奖Id分页获取所有积分
    function getCustomerLotteryList() {
        $.get("/customerLottery/getCustomerLotteryList", {
            lotteryId: vue.lotteryId,
            page: page2,
            size: size2
        }, function (result) {
            if (result.code == 200) {
                vue.customerLotteryList = [];
                vue.customerLotteryList = result.data.customerLotteryList;
                total2 = result.data.total;
                if(total2 != 0){
                    showYema2();
                    $("#haveData2").show();
                    $("#nullData2").hide();
                }else{
                    vue.customerLotteryList = [];
                    $("#haveData2").hide();
                    $("#nullData2").show();
                }
            } else {
                growlAlert.danger(result.message);
                showYema2();
            }
        });
    }

    //修改进度
    function modificationProgress() {
        let id = $("#modificationProgressId").val();
        let num = $("#num").val();
        $.post("/lottery/modificationProgress", {
            lotteryId: id,
            num: num
        }, function (result) {
            if(result.code == 200){
                growlAlert.success("修改成功");
                listLottery();
                getCustomerLotteryList();
                $("#modificationProgressDailog").modal("hide");
            }else{
                growlAlert.danger(result.msg);
            }
        });
    }

    //内定
    function isDesignated() {
        let id = $("#internalizationId").val();
        //新增
        $.post("/customerLottery/modifyIsDesignated",{id: id, isDesignated: 1},function(result){
            if(result.code == 200){
                growlAlert.success("内定成功");
                getCustomerLotteryList();
                $("#internalizationDailog").modal("hide");
            }else{
                growlAlert.danger(result.msg);
            }
        });
    }

    //新建
    function create() {
        $("#productTypeIdDiv").show();
        $("#editId").val("");
        $("#productTypeId").val(0);
        $("#name").val("");
        $("#preview_photo").attr("src", "");
        $("#information").val("");
        $("#price").val("");
        $("#status").val(0);
        $("#createDailog").modal({backdrop: 'static', keyboard: false});  //手动开启
    }

    //生成分页按钮及绑定事件
    function showYema() {
        let str = '<li class="prev"><a href="#"><i class="ace-icon fa fa-angle-left"></i></a></li>';

        if (page == 1) {
            str += '<li class="active"><a class="yeshu"> 1 </a></li>';
        } else {
            str += '<li><a class="yeshu"> 1 </a></li>';
        }
        if (Math.ceil(total / size) > 1) {
            if (page > 4)
                str += '<li class="paginItem"><a >...</a></li>';
            for (var i = 2; i < Math.ceil(total / size); i++) {
                if (i > page - 3 && i < page + 3) {
                    if (page == i) {
                        str += '<li class="paginItem active"><a class="yeshu"> '
                            + i + ' </a></li>';
                    } else {
                        str += '<li class="paginItem"><a class="yeshu"> ' + i + ' </a></li>';
                    }
                }
            }
            if (page < Math.ceil(total / size) - 3)
                str += '<li class="paginItem"><a >...</a></li>';

            if (page == Math.ceil(total / size)) {
                str += '<li class="paginItem active"><a class="yeshu"> '
                    + Math.ceil(total / size) + ' </a></li>';
            } else {
                str += '<li class="paginItem"><a class="yeshu"> '
                    + Math.ceil(total / size) + ' </a></li>';
            }
        }
        str += '<li class="next"><a href="#"><i class="ace-icon fa fa-angle-right"></i></a></li>';
        $("#pagination").html(str);
        $(".prev").click(
            function () {
                if (page > 1)
                    page--;
                listLottery();
            });
        $(".next").click(
            function () {
                if (page < Math.ceil(total / size))
                    page++;
                listLottery();
            });
        $(".yeshu").click(
            function () {
                if (!isNaN($(this).html().trim())) {
                    page = parseInt($(this).html());
                    listLottery();
                }
            });
        $("#count").html(total);
    }

    //改变每页记录数
    function changePageSize(e) {
        $(e).parent().addClass("active").siblings().removeClass("active");
        let currItem = $(e).children();
        size = $(currItem).attr("data-val");
        let pageSizeTxt = $(currItem).text();
        $("#size").html(pageSizeTxt);
        page = 1;
        listLottery();
    }

    //生成分页按钮及绑定事件
    function showYema2() {
        let str = '<li class="prev"><a href="#"><i class="ace-icon fa fa-angle-left"></i></a></li>';

        if (page2 == 1) {
            str += '<li class="active"><a class="yeshu"> 1 </a></li>';
        } else {
            str += '<li><a class="yeshu"> 1 </a></li>';
        }
        if (Math.ceil(total2 / size2) > 1) {
            if (page2 > 4)
                str += '<li class="paginItem"><a >...</a></li>';
            for (var i = 2; i < Math.ceil(total2 / size2); i++) {
                if (i > page2 - 3 && i < page2 + 3) {
                    if (page2 == i) {
                        str += '<li class="paginItem active"><a class="yeshu"> '
                            + i + ' </a></li>';
                    } else {
                        str += '<li class="paginItem"><a class="yeshu"> ' + i + ' </a></li>';
                    }
                }
            }
            if (page2 < Math.ceil(total2 / size2) - 3)
                str += '<li class="paginItem"><a >...</a></li>';

            if (page2 == Math.ceil(total2 / size2)) {
                str += '<li class="paginItem active"><a class="yeshu"> '
                    + Math.ceil(total2 / size2) + ' </a></li>';
            } else {
                str += '<li class="paginItem"><a class="yeshu"> '
                    + Math.ceil(total2 / size2) + ' </a></li>';
            }
        }
        str += '<li class="next"><a href="#"><i class="ace-icon fa fa-angle-right"></i></a></li>';
        $("#pagination2").html(str);
        $(".prev").click(
            function () {
                if (page2 > 1)
                    page2--;
                getCustomerLotteryList();
            });
        $(".next").click(
            function () {
                if (page2 < Math.ceil(total2 / size2))
                    page2++;
                getCustomerLotteryList();
            });
        $(".yeshu").click(
            function () {
                if (!isNaN($(this).html().trim())) {
                    page2 = parseInt($(this).html());
                    getCustomerLotteryList();
                }
            });
        $("#count2").html(total2);
    }

    //改变每页记录数
    function changePageSize2(e) {
        $(e).parent().addClass("active").siblings().removeClass("active");
        let currItem = $(e).children();
        size2 = $(currItem).attr("data-val");
        let pageSizeTxt = $(currItem).text();
        $("#size2").html(pageSizeTxt);
        page2 = 1;
        getCustomerLotteryList();
    }

    //清空日期
    let blnfirst = true;//首次执行标识
    function clearDate(input) {
        if (blnfirst) {
            //为避免与onchangeDate事件的冲突
            return;
        }
        if (!$(input).val()) {
            //日期清空时，重新查询
        }
    }

</script>

<!-- END PAGE SELF SCRIPTS -->
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
