<!DOCTYPE html>
<!--[if IE 8]>
<html lang="zh-CN" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="zh-CN" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-CN" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>商城产品</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <link href="../static/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/uniform/css/uniform.default.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet"/>
    <link href="../static/global/plugins/select2/select2.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet"/>
    <link href="../static/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet"/>
    <link href="../static/global/plugins/bootstrap-fileinput/css/fileinput.css" rel="stylesheet"/>
    <link href="../static/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet"/>
    <link href="../static/global/css/plugins.css" rel="stylesheet"/>
    <link href="../static/global/plugins/jquery-minicolors/jquery.minicolors.css" rel="stylesheet"/>
    <link href="../static/global/css/components-rounded.css" rel="stylesheet"/>
    <link href="../static/admin/css/layout.css" rel="stylesheet"/>
    <link href="../static/layui/css/layui.css" rel="stylesheet"/>
    <link href="../static/admin/css/custom.css" rel="stylesheet"/>
    <link href="../static/admin/css/themes/default.css" rel="stylesheet" id="style_color">
    <link rel="icon" href="../static/img/icon_16.ico" mce_href="../static/img/icon_16.ico">
    <link rel="shortcut icon" href="../static/img/icon_16.ico" mce_href="../static/img/icon_16.ico">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-quick-sidebar-over-content ">
<input id="userID" name="userID" type="hidden" value="30da7b29-700b-4310-adc5-1ee224a5b4a6" />
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div th:include="header"></div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div th:include="sidebar"></div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">

                <div class="col-md-12">

                    <div class="side-menu-sidebar ">
                        <div class="scroller">
                            <div class="portlet portlet-nav">
                                <div class="portlet-title">
                                    <div class="caption" data-toggle="collapse" data-target="#lst2">
                                        <span class="uppercase">产品管理</span>
                                        <a href="javascript:;" class="caption-helper visible-sm-inline-block visible-xs-inline-block">单击展示列表</a>
                                    </div>
                                </div>
                                <div class="portlet-body side-menu-project-list-content" id="lst2">
                                    <div class="side-menu-project-list" data-always-visible="1" data-rail-visible1="1">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li class="active">
                                                <a onclick="javascript:location.href='/mailProduct'">商城产品</a>
                                            </li>
                                            <li class="">
                                                <a onclick="javascript:location.href='/lotteryProduct'">抽奖产品</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="btn-group pull-right esh-set-btn-group absolute">-->
                                <!--<a href="javascript:;" title="返回" class="esh-set-group" data-toggle="dropdown" aria-expanded="false">-->
                                    <!--<i class="fa  fa-reply  back"></i>-->
                                <!--</a>-->
                                <!--<ul class="esh-pub-menu dropdown-menu pull-right">-->
                                    <!--<li>-->
                                        <!--<a href="/servicespace/systemsetting">-->
                                            <!--返回设置主页-->
                                        <!--</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="esh-filter-sidebar">
                        <div class="header"><b class="title">服务人员筛选</b> <a class="close" href="javascript:void(0)"></a></div>
                        <div class="sidebar-wrap">
                            <section class="content">
                                <div class="tip clearfix"><i class="fa fa-filter" style="color:#999"></i> 筛选条件<a class="pull-right hidden clear-filter" href="javascript:void(0)" onclick="clearFilter()">清空筛选</a></div>
                                <div class="form-group">
                                    <label>所属网点</label>
                                    <select id="select-network" class="form-control">
                                        <option value="">请选择网点</option>
                                        <option value="8ccc5342-5b0d-4ef0-b022-d081d685cf9b">万维信达分部4号</option>
                                        <option value="d1eec2a7-d02f-4429-bf28-01a39984d7c8">万维信达分部3号</option>
                                        <option value="5a5c7698-9d42-4fd2-9a03-96498bd2eb4b">万维信达分部2号</option>
                                        <option value="0ae09199-6d30-491b-afec-c649944a5395">万维信达分部1号</option>
                                        <option value="a61e0c34-46cc-4244-8aa2-255450ed740b">万维信达</option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label>网点类型</label>
                                    <ul class="filter-option two clearfix">
                                        <li>
                                            <label>
                                                <input name="type" type="checkbox" value="1" /><input name="type" type="hidden" value="false" />总部
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input name="type" type="checkbox" value="2" /><input name="type" type="hidden" value="false" />自建网点
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input name="type" type="checkbox" value="3" /><input name="type" type="hidden" value="false" />第三方服务商
                                            </label>
                                        </li>
                                    </ul>
                                    <input type="hidden" id="type_hide" value="" />
                                </div>
                            </section>
                        </div>

                    </div>
                    <div class="side-menu-content">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption title">
                                    商城产品
                                </div>
                                <div class="input-group pull-right">
                                    <div class="input-group input-medium ">
                                        <input class="form-control" id="userName" maxlength="20" name="userName" placeholder="输入姓名..." type="text" value="" />
                                        <span class="input-group-btn">
                                            <button class="btn green" id="btnSearch" type="button"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="col-xs-8 clear-padding-left">
                                        <a class="btn green" href="javascript:void(0)" onclick="create()">新建</a>
                                        <button class="btn green collapse" id="btnFilter">筛选</button>
                                        <a class="filter-a clear-filter hidden" href="javascript:void(0)" onclick="clearFilter()"><i class="icon fa fa-trash"></i>清空筛选</a>

                                    </div>
                                    <div class="col-xs-4  clear-padding-right">
                                        <div class="pull-right">
                                            <div class="btn-group">

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div id="dataTable" class="dataTables_wrapper no-footer">
                                    <div class="table-scrollable">
                                        <table class="table table-striped dataTable table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width: 7%;">
                                                        编号
                                                    </th>
                                                    <th style="width: 10%;">
                                                        类型
                                                    </th>
                                                    <th style="width: 12.5%;">
                                                        名称
                                                    </th>
                                                    <th style="width: 10%;">
                                                        图片
                                                    </th>
                                                    <th style="width: 20%;">
                                                        详情
                                                    </th>
                                                    <th style="width: 9%;">
                                                        数量
                                                    </th>
                                                    <th style="width: 9%;">
                                                        状态
                                                    </th>
                                                    <th style="width: 16%;">
                                                        操作
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="odd gradeX">
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                        女用
                                                    </td>
                                                    <td>
                                                        用品
                                                    </td>
                                                    <td>
                                                        <img src="../static/admin/img/iphone.png" width="20px" height="20px">
                                                    </td>
                                                    <td>
                                                        这是用品
                                                    </td>
                                                    <td>
                                                        10
                                                    </td>
                                                    <td>
                                                        <span class="label label-success">上架</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-xs black" onclick="see()">
                                                            <i class="fa fa-search"></i>
                                                            查看
                                                        </button>
                                                        <button class="btn btn-default btn-xs black" onclick="create()">
                                                            <i class="fa fa-pencil"></i>
                                                            编辑
                                                        </button>
                                                        <button class="btn btn-default btn-xs black" onclick="deleteDailog()">
                                                            <i class="fa fa-trash-o"></i>
                                                            移除
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="odd gradeX">
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>
                                                        男用
                                                    </td>
                                                    <td>
                                                        用品
                                                    </td>
                                                    <td>
                                                        <img src="../static/admin/img/iphone.png" width="20px" height="20px">
                                                    </td>
                                                    <td>
                                                        这是用品
                                                    </td>
                                                    <td>
                                                        10
                                                    </td>
                                                    <td>
                                                        <span class="label label-gray">下架</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-xs black" onclick="see()">
                                                            <i class="fa fa-search"></i>
                                                            查看
                                                        </button>
                                                        <button class="btn btn-default btn-xs black" onclick="create()">
                                                            <i class="fa fa-pencil"></i>
                                                            编辑
                                                        </button>
                                                        <button class="btn btn-default btn-xs black" onclick="deleteDailog()">
                                                            <i class="fa fa-trash-o"></i>
                                                            移除
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="dataTables_info" role="status" aria-live="polite">
                                                <label style="vertical-align: middle;">共3条</label>
                                                <div class="btn-group pagesize dropup">
                                                    <a href="javascript:void(0)" class="link name-wrap" data-toggle="dropdown" aria-expanded="false">
                                                        <span data-val="10">10条/页&nbsp;</span>
                                                        <i class="fa fa-angle-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu esh-pub-menu">
                                                        <li class="clearfix active">
                                                            <a href="javascript:void(0)" onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis" data-val="10">10条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)" onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis" data-val="20">20条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)" onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis" data-val="30">30条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)" onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis" data-val="40">40条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <a href="javascript:void(0)" onclick="changePageSize(this)">
                                                                <span class="esh-txtellipsis" data-val="50">50条/页&nbsp;</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <div class="dataTables_paginate paging_bootstrap_full_number">
                                                <ul class="pagination">
                                                    <li class="disabled prev">
                                                        <a href="javascript:void(0);">
                                                            <i class="fa fa-angle-double-left"></i>
                                                        </a>
                                                    </li>
                                                    <li class="disabled prev">
                                                        <a href="javascript:void(0);">
                                                            <i class="fa fa-angle-left"></i>
                                                        </a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="#" onclick="changePageIndex(1)">
                                                            1
                                                        </a>
                                                    </li>
                                                    <li class="disabled next">
                                                        <a href="javascript:void(0);">
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>
                                                    </li>
                                                    <li class="disabled next">
                                                        <a href="javascript:void(0);">
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                    <!--查看详情模态框-->
                    <div class="modal fade bs-modal-lg" id="seeDailog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">查看</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                产品类型编码<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input class="form-control" value="W201810230002" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                类型<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <select class="form-control" disabled>
                                                    <option>女用</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                名称<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input class="form-control" value="用品" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                图片<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <img src="../static/admin/img/iphone.png" width="150px" height="150px">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                详情<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input class="form-control" value="这是用品" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                数量<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input class="form-control" value="10" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                状态<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <select class="form-control" disabled>
                                                    <option>上架</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--新建/编辑详情模态框-->
                    <div class="modal fade bs-modal-lg" id="createDailog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">新建</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                类型<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <select class="form-control">
                                                    <option>请选择</option>
                                                    <option>女用</option>
                                                    <option>男用</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                名称<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input class="form-control" placeholder="请输入名称">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                图片<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input class="form-control" type="file">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                详情<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input class="form-control" placeholder="请输入详情">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                数量<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input class="form-control" placeholder="请输入数量">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                状态<span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <select class="form-control">
                                                    <option>上架</option>
                                                    <option>下架</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden">
                                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                                    <button type="button" class="btn green" onclick="deleteBrand()">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--删除模态框-->
                    <div class="modal fade" id="deleteDailog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true"></button>
                                    <h4 class="modal-title">提示</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="bootbox-body">您确认删除该产品吗?</div>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden">
                                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                                    <button type="button" class="btn green">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            <!-- END PAGE CONTEN -->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<div class="clearfix">
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../static/global/plugins/respond.min.js"></script>
<script src="../static/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="../static/js/vue.js"></script>
<script type="text/javascript" src="../static/js/vue-resource.js"></script>
<script src="../static/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="../static/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../static/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js"></script>
<script src="../static/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../static/admin/scripts/layout.js" type="text/javascript"></script>
<script src="../static/admin/scripts/theme.js" type="text/javascript"></script>
<script src="../static/layui/layui.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/admin/scripts/custom.js"></script>
<script>
    jQuery(document).ready(function () {
        $.ajaxSetup({cache: false});//设置缓存策略
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout

        if ($(".side-menu-sidebar").length > 0) {
            initSideMenu();
        }
        if ($(".esh-filter-sidebar").length > 0) {
            initFlterMenu();
        }
        if ($(".scroll-fixed").length > 0) {
            $(".scroll-fixed").each(function () {
                var i = 0;
                var mouseWheel = document.getElementsByClassName('scroll-fixed')[i];
                if (mouseWheel.addEventListener) {
                    mouseWheel.addEventListener('DOMMouseScroll', function (event) {
                        this.scrollTop = this.scrollTop - (event.wheelDelta ? event.wheelDelta : -event.detail * 10);
                        return false;
                    }, false)
                }
                document.getElementsByClassName('scroll-fixed')[i].onmousewheel = function (event) {
                    if (!event) event = window.event;
                    this.scrollTop = this.scrollTop - (event.wheelDelta ? event.wheelDelta : -event.detail * 10);
                    return false;
                }
                i++;
            })
        }
    });
</script>
<!-- BEGIN PAGE SELF SCRIPTS -->
<script type="text/javascript">
    $(document).ready(function () {
        initEvent();//事件绑定
        initPageSize();

        //changeQueryCondition();
    });

    //事件绑定
    function initEvent() {
        //显示或隐藏筛选功能
        $('body').on('click', '#btnFilter.collapse, #btnFilter.expand', function (e) {
            if ($(this).hasClass("collapse")) {
                $(this).removeClass("collapse").addClass("expand").text('取消筛选');
                $('.esh-filter-sidebar').addClass("open");
            } else {
                $(this).removeClass("expand").addClass("collapse").text('筛选');
                $('.esh-filter-sidebar').removeClass("open");
            }
        });

        //Checkbox选择触发表单提交
        $("ul.filter-option input[type=checkbox]").on("click", function () {
            var attrName = $(this).attr('name');
            var subData = $("#" + attrName + "_hide").val();
            if ($(this).attr('checked')) {
                subData += $(this).val() + ",";
            } else {
                var a = $(this).val() + ",";
                subData = subData.replace(a, "");
            }
            $("#" + attrName + "_hide").val(subData);
            changeQueryCondition();
        })

        //选择产品
        $("#select-network").change(function () { changeQueryCondition(); });

        //输入名称回车查询
        $("#userName").keypress(function (e) {
            if (e.which == 13) {
                changeQueryCondition();
                $("#btnSearch").focus();
            }
        });

        //搜索按钮按下
        $("#btnSearch").click(function () { changeQueryCondition(); })
    }

    ///初始化列表
    function initTable() { OperationTable.init("#tableList", "#Sort", "#Direction", changeSortCondition); }

    //清空筛选
    function clearFilter() {
        $("#type_hide,#select-network").val("");
        $("ul.filter-option input[type=checkbox]").attr("checked", false);
        $("ul.filter-option input[type=checkbox]").parent().removeClass("checked");
        changeQueryCondition();

    }

    //初始化每页记录数
    function initPageSize() {
        if ($.cookie('system-setting-pagesize'))
            $("#PageSize").val($.cookie('system-setting-pagesize'));
    }

    //改变每页记录数
    function changePageSize(e) {
        $(e).parent().addClass("active").siblings().removeClass("active");
        var currItem = $(e).children();
        var pageSize = $(currItem).attr("data-val");
        var pageSizeTxt = $(currItem).text();

        $("#currentPageSize").attr("data-val", pageSize).html(pageSizeTxt);
        $("#PageSize").val(pageSize);
        $("#PageIndex").val(1);

        if ($.cookie('system-setting-pagesize'))
            $.cookie('system-setting-pagesize', '', { expires: -1, path: '/' });
        $.cookie('system-setting-pagesize', pageSize, { expires: 7, path: '/' });

        $("#searchByRequest").submit();
    }

    //改变索引页
    function changePageIndex(index) {
        $("#PageIndex").val(index);
        $("#searchByRequest").submit();
    }

    //改变查询条件
    function changeQueryCondition() {
        if ($("#select-network").val() == "" && $("#type_hide").val() == "") {
            $(".clear-filter").addClass("hidden")
        }
        else {
            $(".clear-filter").removeClass("hidden")
        }

        var userName = $("#userName").val();
        if (userName.indexOf("输入") >= 0) {
            userName = "";
        }

        var networType = $("#type_hide").val(); //组装网点类型
        var network = $("#select-network").val();
        var whereData = "{'name':'" + userName + "','servicenetworkid':'" + network + "','type':[" + trimEnd(networType) + "]" + "}";

        $("#Where").val(whereData);
        $("#PageIndex").val(1);//页索引置为1
        $("#searchByRequest").submit();
    }

    //改变排序条件
    function changeSortCondition(sort, direction) {
        $("#Sort").val(sort);
        $("#Direction").val(direction);
        $("#PageIndex").val(1);//页索引置为1
        $("#searchByRequest").submit();
    }

    //启动对话框
    function startDialog(title) {
        modalLoadding("#editDailog", title, 400)
        $("#editDailog").modal();
    }

    //显示对话框
    function showDialog(data) {
        $("#editDailog .modal-content").html(data);//填充对话框
        $("#editForm").removeData("validator");//删除验证器
        $.validator.unobtrusive.parse("#editForm");//添加验证器

        //角色选择
        $("#ServicePersonRoleSel").change(function () {
            $("#RoleID").val($(this).val()).blur();
        })

        $("#ServiceNetworkSel").change(function () {
            var b = $(this).find("option:selected").attr("data-bind");
            $("#ServiceNetworkID").val($(this).val());

            GetRoleByNetwork(b, "#ServicePersonRoleSel");
        })
    }

    //启动large对话框
    function startLargeDialog(title) {
        modalLoadding("#editLgDailog", title, 425)
        $("#editLgDailog").modal();
    }

    //显示large对话框
    function showLargeDialog(data) {

        $("#editLgDailog .modal-content").html(data);//填充对话框
        $("#importForm").removeData("validator");//删除验证器
        $.validator.unobtrusive.parse("#importForm");//添加验证器
        Metronic.initSlimScroll('.scroller');//滚动条
    }

    //查看详情
    function see() {
        $("#seeDailog").modal();
    }

    //新建/编辑
    function create() {
        $("#createDailog").modal();
    }

    //删除
    function deleteDailog() {
        $("#deleteDailog").modal();
    }
</script>

<!-- END PAGE SELF SCRIPTS -->
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
